.news-detail-wrap {
  font-size: 0;
  color: #696969;
  padding: 30rpx;
  position: relative;

  .title {
    font-size: 40rpx;
  }

  .date-hot {
    font-size: 28rpx;
    color: #9B9B9B;
    justify-content: space-between;

    .hot-img {
      width: 30rpx;
      height: 30rpx;
      margin-left: 24rpx;
      margin-right: 10rpx;
    }

    .num {
      color: #9D9D9D;
      font-size: 24rpx;
    }

  }

  .wrap-p {
    font-size: 0;
    color: #545454;
    margin-top: 20rpx;
    padding-bottom: 40rpx;
    border-bottom: 1rpx solid #F7F4F8;

    image {
      width: 100% !important;
    }

    .p view {
      display: inline-block;
    }

    .img-big {
      width: 100%;
      height: 380rpx;
      margin-bottom: 10rpx;
    }

    .wrap-b {
      height: 20rpx;
    }

    .img-small {
      width: 200rpx !important;
      margin-right: 24rpx;
    }

    .img-small:nth-child(3n) {
      margin-right: 0;
    }

    .text-info {
      font-size: 26rpx;
      color: #5E5E5E;
      line-height: 40rpx;
      margin: 20rpx 0;
    }

    .p,
    text,
    rich-text,
    .span {
      font-size: 26rpx;
    }

    // 视频按钮
    .video-b-b {
      position: relative;
      margin-bottom: 10rpx;

      video {
        width: 100%;
        height: 380rpx;
      }

      .model-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -55%);
        width: 106rpx;
        height: 106rpx;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);
        border: 5rpx solid #fff;
      }

      .play-icon {
        margin: 22rpx 0 0 42rpx;
        border-top: 28rpx solid transparent;
        border-left: 36rpx solid #fff;
        border-bottom: 29rpx solid transparent;

      }
    }
  }

}